/*ALL*/

* {
    font-family: "微软雅黑", sans-serif;
    line-height: 1.4;
    box-sizing: border-box;
}

body {
  background-color: #6ebfff;
  margin: 0;
}

a {
  text-decoration: none;
}

/*sidebar*/

.sidebar {
  margin: 0;
  padding: 0;
  float: left;
  width: 20%;
  background-color: #6ebfff;
  color: #ffffff;
  text-align: center;
  position: fixed;
}

/*header*/

#logo {
  width: 100px;
  margin: 30px auto;
  display: table-cell;
}

.name {
  border-bottom: 4px solid;
  border-color: #ffffff;
  font-size: 25px;
  padding: 6px 15px 6px 15px;
  display: inline-block;
  text-align: center;
  color: #ffffff;
  margin-bottom: 10px;
  margin-top: 0px;
}

.introduce {
  font-size: 18px;
  margin: 10px;
}

/*nav*/

.nav {
  margin-top: 20px;
}

.taglist {
  margin-top: 16px;
}


#menu-checkbox,
#tags-checkbox {
  display: none;
}

#tags-toggle {
  display: none;
}

#menu-toggle {
  display: none;
}

.item {
  color: #cff0ff;
  display: inline-block;
  padding: 6px;
}

.nav a, .taglist a {
  display: block;
  transition: color 200ms;
}

.nav a:hover,
.taglist a:hover {
  color: #ffffff;
}

.nav .item {
  font-size: 18px;
  margin: 5px;
}

.taglist .item {
  font-size: 18px;
  margin: 5px;
}

/*main*/

.main {
  margin-top: 30px;
  float: right;
  width: 77%;
}

.main a {
  color: #000000;
}

.articles, .page {
  padding: 22px 44px 22px 44px;
  background-color: #ffffff;
  margin-right: 28.2051282%;
  -webkit-box-shadow: 8px 0 8px #55a5ff;
  box-shadow: 8px 0 8px #55a5ff;
  word-wrap: break-word;
  word-break: break-all;
}

.intro {
  border-bottom: 1px solid;
  border-color: #888888;
  margin: 22px 0px 22px 0px;
}

.title {
  font-size: 25px;
  margin: 10px 0px 5px 0px;
  font-weight: bold;
}

.status {
  font-size: 15px;
  margin: 5px 0px 20px 0px;
  font-weight: lighter;
}

.abstract {
  font-size: 18px;
  margin: 10px 0px 10px 0px;
  font-weight: bold;
}

.text {
  font-size: 16px;

  font-weight: normal;
}

.more a{
  font-size: 17px;
  font-weight: lighter;
  color: #666666;
}

h1 {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 0px;
}

.chapter {
  border-bottom: 1px solid;
  border-color: #888888;
  margin: 22px 0px 22px 0px;
}
